<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.layout}">
<head>
    <title th:text="${pokemon.name.toUpperCase()}"></title>
</head>
<body>
    <th:block layout:fragment="header">
        <header class="h-20 bg-red-500 text-gray-100 flex items-center p-4 z-10 shadow-md">
            <a th:href="@{/pokedex}" title="Go back to Pokedex" data-turbolinks-action="replace" class="colored-navlink active:font-semibold hover:font-semibold w-16 h-16 bg-opacity-25 text-gray-800 rounded-full flex flex-col items-center justify-center">
                <svg class="w-8 h-8 text-gray-100 pointer-events-none" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            </a>

            <h1 class="text-xl uppercase" th:text="${pokemon.name}"></h1>
        </header>
    </th:block>

    <th:block layout:fragment="content">
        <div class="w-full p-4 rounded-md shadow-md flex flex-col items-center">
            <div class="w-full relative flex flex-col items-center">
                <th:block th:each="type,iteration : ${pokemon.types}">
                    <div th:classappend="${iteration.index == 0 ? 'left-0 w-full' : 'w-1/2 right-0 z-10'}"
                         th:style="'background-color: ' + ${type.color}"
                         class="absolute top-0 h-full"></div>
                </th:block>

                <div class="flex flex-col items-center z-20 w-full text-gray-100">
                    <th:block th:replace="fragments/components :: image(${pokemon.id}, ${pokemon.name}, 'w-32 h-32')"/>

                    <span class="text-2xl uppercase font-semibold" th:text="${pokemon.name}"></span>

                    <div class="flex w-full my-4 text-center font-semibold uppercase">
                        <th:block th:each="type : ${pokemon.types}">
                            <span class="flex-1 py-4 text-lg" th:text="${type.name}"></span>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-3 gap-4 my-4 w-full pointer-events-none">
                <div class="flex font-semibold text-center flex-col" th:each="stat : ${pokemon.stats}">
                    <span class="uppercase text-4xl mb-2" th:text="${stat.value}"></span>
                    <span class="uppercase text-sm" th:text="${stat.name}"></span>
                </div>
            </div>

            <th:block th:replace="pokemon/fragments/components :: section-evolution(${pokemon.evolutions})"/>

            <div class="my-4 w-full uppercase">
                <span class="text-xl mb-4 block font-semibold">Abilities</span>
                <div class="text-center grid grid-cols-2 gap-2">
                    <th:block th:each="ability : ${pokemon.abilities}">
                        <span th:text="${ability}"></span>
                    </th:block>
                </div>
            </div>

            <div class="my-4 w-full">
                <span class="text-xl uppercase mb-4 block font-semibold">Moves</span>
                <div class="h-48 grid grid-cols-2 text-center overflow-y-auto">
                    <th:block th:each="move : ${pokemon.moves}">
                        <span class="uppercase border-b border-gray-400 py-4" th:text="${move}"></span>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>