<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.layout}">
<head>
    <title th:text="${pokemon.name.toUpperCase()}"></title>
</head>
<body>
    <th:block layout:fragment="header">
        <header class="h-20 bg-gray-300 flex items-center p-4 z-10 shadow-md">
            <a th:href="@{/pokedex}" title="Go back to Pokedex" data-turbolinks-action="replace" class="colored-navlink active:font-semibold hover:font-semibold w-16 h-16 bg-opacity-25 text-gray-800 rounded-full flex flex-col items-center justify-center">
                <svg class="w-8 h-8 pointer-events-none" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            </a>

            <h1 class="text-xl uppercase" th:text="${pokemon.name}"></h1>
        </header>
    </th:block>

    <th:block layout:fragment="content">
        <div class="w-full p-4 rounded-md shadow-md flex flex-col items-center">
            <img class="w-32 h-32 object-cover" loading="lazy" th:src="${'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vii/ultra-sun-ultra-moon/' + pokemon.id + '.png'}" th:alt="${pokemon.name}">

            <span class="text-2xl uppercase font-semibold" th:text="${pokemon.name}"></span>

            <div class="flex w-full my-4 text-center font-semibold uppercase">
                <th:block th:each="type : ${pokemon.types}">
                    <span th:style="'background-color: ' + ${type.color}" class="flex-1 py-4 text-lg text-gray-200" th:text="${type.name}"></span>
                </th:block>
            </div>

            <div class="grid grid-cols-3 gap-4 my-4 w-full pointer-events-none">
                <div class="flex font-semibold text-center flex-col" th:each="stat : ${pokemon.stats}">
                    <span class="uppercase text-4xl mb-2" th:text="${stat.value}"></span>
                    <span class="uppercase" th:text="${stat.name}"></span>
                </div>
            </div>

            <div class="my-4 w-full uppercase">
                <span class="text-xl mb-4 block font-semibold">Evolutions</span>
                <div class="overflow-x-auto">
                    <div class="w-full flex flex-row items-center justify-center text-center ">
                        <th:block th:each="evolution : ${pokemon.evolutions}">
                            <div th:if="${evolution.trigger != null}" class="flex-1 flex flex-row mx-2">
                                <div class="flex text-sm flex-col items-center justify-between">
                                    <span class="font-xl" th:text="${evolution.requiredLevel}"></span>
                                    <span class="font-xl" th:text="${evolution.itemName}"></span>

                                    <th:block th:if="${evolution.minHappiness != null}">
                                        <span class="font-xl" th:text="${evolution.minHappiness}"></span>
                                        <span class="font-semibold">Happiness</span>
                                    </th:block>

                                    <span class="font-semibold" th:text="${evolution.trigger}"></span>
                                </div>
                            </div>

                            <div class="w-64 flex flex-row mx-2">
                                <a th:href="@{'/pokemon/' + ${evolution.id}}" class="hover:bg-red-500 hover:text-gray-100 rounded-md border border-red-500 p-2 flex-1 items-center justify-center flex flex-col">
                                    <img class="w-32 h-32 object-cover" loading="lazy" th:src="${'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vii/ultra-sun-ultra-moon/' + evolution.id + '.png'}" th:alt="${evolution.name}">
                                    <span class="text-xs font-semibold" th:text="${evolution.name}"></span>
                                </a>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="my-4 w-full uppercase">
                <span class="text-xl mb-4 block font-semibold">Abilities</span>
                <div class="text-center grid grid-cols-2 gap-2">
                    <th:block th:each="ability : ${pokemon.abilities}">
                        <span th:text="${ability}"></span>
                    </th:block>
                </div>
            </div>

            <div class="my-4 w-full">
                <span class="text-xl uppercase mb-4 block font-semibold">Moves</span>
                <div class="h-48 grid grid-cols-2 text-center overflow-y-auto">
                    <th:block th:each="move : ${pokemon.moves}">
                        <span class="uppercase border-b border-gray-400 py-4" th:text="${move}"></span>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>